{{> head}}
{{> header}}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="boxed  push-down-45">
        <div class="row">
          <div class="col-xs-10  col-xs-offset-1  col-md-8  col-md-offset-2">
            <h2>Elements</h2>
            <p class="contact__text">Ut ullamcorper, risus a rhoncus fringilla, dui nisl viverra nunc, quis consectetur massa purus a nulla. Quisque adipiscing, eros eget molestie feugiat, dui sem laoreet est, nec convallis dolor erat et tellus.</p>
            <div class="row">
              <div class="col-xs-12  push-down-30">
                <h3>Headings</h3>
                <h1>Heading h1</h1>
                <h2>Heading h2</h2>
                <h3>Heading h3</h3>
                <h4>Heading h4</h4>
                <h5>Heading h5</h5>
                <h6>Heading h6</h6>
                <h3>Buttons</h3>
                <button class="btn  btn-primary">Button</button> &nbsp; 
                <button class="btn  btn-info">Button</button> &nbsp; 
                <button class="btn  btn-danger">Button</button> &nbsp; 
                <button class="btn  btn-warning">Button</button> &nbsp; 
                <button class="btn  btn-alternative">Button</button> &nbsp; 
                <button class="btn  btn-dark">Button</button> &nbsp; 
                <button class="btn  btn-gray">Button</button> &nbsp; 
                <button class="btn  btn-light">Button</button> <br><br>
                <button class="btn  btn-primary  btn-primary--transparent">Button</button> &nbsp; 
                <button class="btn  btn-info  btn-info--transparent">Button</button> &nbsp; 
                <button class="btn  btn-danger  btn-danger--transparent">Button</button> &nbsp; 
                <button class="btn  btn-warning  btn-warning--transparent">Button</button> &nbsp; 
                <button class="btn  btn-alternative  btn-alternative--transparent">Button</button> &nbsp; 
                <button class="btn  btn-dark  btn-dark--transparent">Button</button> &nbsp; 
                <button class="btn  btn-gray  btn-gray--transparent">Button</button> &nbsp; 
                <button class="btn  btn-light  btn-light--transparent">Button</button> &nbsp; 
                <h3>Social Icons</h3>
                <div class="social-icons  widget-social-icons  push-down-30">
                  <a href="#" class="social-icons__container"><span class="zocial-facebook"></span></a>
                  <a href="#" class="social-icons__container"><span class="zocial-twitter"></span></a>
                  <a href="#" class="social-icons__container"><span class="zocial-skype"></span></a>
                  <a href="#" class="social-icons__container"><span class="zocial-youtube"></span></a>
                  <a href="#" class="social-icons__container"><span class="zocial-reddit"></span></a>
                  <a href="#" class="social-icons__container"><span class="zocial-wordpress"></span></a>
                  <a href="#" class="social-icons__container"><span class="zocial-bitbucket"></span></a>
                  <a href="#" class="social-icons__container"><span class="zocial-github"></span></a>
                  <a href="#" class="social-icons__container"><span class="zocial-html5"></span></a>
                  <a href="#" class="social-icons__container"><span class="zocial-meetup"></span></a><br/>
                  <p>+ all others from <a href="http://weloveiconfonts.com/" target="_blank">Zocial icons</a>.</p>
                </div>
                <h3>Tags</h3>
                <div class="tags  widget-tags">
                  <a href="#" class="tags__link">Tech</a>
                  <a href="#" class="tags__link">Web</a>
                  <a href="#" class="tags__link">UI/UX</a>
                  <a href="#" class="tags__link">Tutorials</a>
                  <a href="#" class="tags__link">Workflow</a>
                  <a href="#" class="tags__link">UI/UX</a>
                  <a href="#" class="tags__link">Tutorials</a>
                  <a href="#" class="tags__link">Workflow</a>
                  <a href="#" class="tags__link">UI/UX</a>
                  <a href="#" class="tags__link">Tutorials</a>
                  <a href="#" class="tags__link">Workflow</a>
                </div>
                <h3>Quotes</h3>
                <blockquote>
                  “If we could sell our experiences for what they cost us, we’d all be millionaires.” - Abigail Van Buren
                </blockquote>
                <blockquote class="blockquote__alternative">
                  If we could sell our experiences for what they cost us, we’d all be millionaires.
                  <p><br>- Abigail Van Buren</p>
                </blockquote>
                <h3>Tables</h3>
                <table class="table  table-hover">
                  <thead>
                    <tr class="su-even">
                      <th>Template</th>
                      <th>CMS</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><a href="http://themeforest.net/item/readable-blog-template-focused-on-readability/7499064?ref=proteusthemes">Readable</a></td>
                      <td>HTML</td>
                      <td>$15.00</td>
                    </tr>
                    <tr>
                      <td><a href="http://themeforest.net/item/organique-html-template-for-healthy-food-store/6779086?ref=proteusthemes">Organique</a></td>
                      <td>HTML</td>
                      <td>$16.00</td>
                    </tr>
                    <tr class="su-even">
                      <td><a href="http://themeforest.net/item/organique-wordpress-theme-for-healthy-food-shop/7312458?ref=proteusthemes">Organique</a></td>
                      <td>WordPress</td>
                      <td>$55.00</td>
                    </tr>
                    <tr>
                      <td><a href="http://themeforest.net/item/webmarket-html-template-for-online-shop/5409539?ref=proteusthemes" target="_blank">Webmarket</a></td>
                      <td>HTML</td>
                      <td>$15.00</td>
                    </tr>
                    <tr class="su-even">
                      <td><a href="http://themeforest.net/item/webmarket-wp-woocommerce-theme-for-online-shop/6437728?ref=proteusthemes" target="_blank">Webmarket</a></td>
                      <td>WordPress</td>
                      <td>$55.00</td>
                    </tr>
                    <tr>
                      <td><a href="http://themeforest.net/item/webmarket-magento-theme-for-online-shop/6382713?ref=proteusthemes" target="_blank">Webmarket</a></td>
                      <td>Magento</td>
                      <td>$80.00</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer}}
{{> foot}}