{{> head}}
{{> header}}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="boxed  push-down-45">
        <div class="row">
          <div class="col-xs-10  col-xs-offset-1  col-md-8  col-md-offset-2">
            <div class="features">
              <h2>Features</h2>
              <div class="row">
                <div class="col-xs-12  col-sm-6">
                  <img alt="Responsive and Retina-Ready" src="images/dummy/responsive-and-retina-ready.png" width="271" height="250">
                </div>
                <div class="col-xs-12  col-sm-6">
                  <h3>Responsive &amp; Retina-Ready</h3>
                  <p>Organique looks great on any device, from mobile desktop and beyond. Clean responsive design fits to any screen and we ensured it loads fast too!</p>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12  col-sm-6">
                  <img alt="Responsive and Retina-Ready" src="images/dummy/readable.png" width="271" height="250">
                </div>
                <div class="col-xs-12  col-sm-6">
                  <h3>Awesome Readability</h3>
                  <p>Readable is made for best and comfortable reading experience possible. So it might happen that your eyes couldn't stop reading at all.</p>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12  col-sm-6">
                  <img alt="Responsive and Retina-Ready" src="images/dummy/search-engine-optimized.png" width="271" height="250">
                </div>
                <div class="col-xs-12  col-sm-6">
                  <h3>Search Engine Optimized</h3>
                  <p>Our theme is written in semantic &amp; valid HTML5 &amp; CSS3 coding with SEO best-practices for highest search engine ranking.</p>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12  col-sm-6">
                  <img alt="Responsive and Retina-Ready" src="images/dummy/lightning-fast.png" width="271" height="250">
                </div>
                <div class="col-xs-12  col-sm-6">
                  <h3>Lightning Fast</h3>
                  <p>Readable is fast, really fast. No more words needed.</p>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12  col-sm-6">
                  <img alt="Responsive and Retina-Ready" src="images/dummy/unlimited-colors-and-layouts.png" width="271" height="250">
                </div>
                <div class="col-xs-12  col-sm-6">
                  <h3>Unlimited Colors and Layouts</h3>
                  <p>You can change the whole color theme and modify almost any element of your website the way you want.</p>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12  col-sm-6">
                  <img alt="Responsive and Retina-Ready" src="images/dummy/glyphicons-and-zocial-icons.png" width="271" height="250">
                </div>
                <div class="col-xs-12  col-sm-6">
                  <h3>290+ Glyphicons and Zocial Icons</h3>
                  <p>Organique includes 290+ resizable icons from Glyphicons and Zocial icons.</p>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12  col-sm-6">
                  <img alt="Responsive and Retina-Ready" src="images/dummy/layered-psds-included.png" width="271" height="250">
                </div>
                <div class="col-xs-12  col-sm-6">
                  <h3>Layered PSDs Included</h3>
                  <p>So you will be able to see design source and change every single part of it just the way you want.</p>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12  col-sm-6">
                  <img alt="Responsive and Retina-Ready" src="images/dummy/awesome-support.png" width="271" height="250">
                </div>
                <div class="col-xs-12  col-sm-6">
                  <h3>Awesome Support</h3>
                  <p>We provide almost real-time support on advanced support system and if you got yourself in trouble we are there for you.</p>
                </div>
                <div class="clearfix  push-down-60"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer}}
{{> foot}}