{{> head}}
{{> header}}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      {{> post-with-featured-image--full-width}}
      {{> post-with-video--full-width}}
      {{> post-without-featured-image--full-width}}
    </div>
  </div>
</div>
{{> footer}}
{{> foot}}