{{> head}}
{{> header}}
<div class="multi-columns">
  <div class="container">
    <div class="row">
      <div class="col-xs-12  col-md-4">
        {{> post-with-featured-image--small}}
        {{> post-sticky--small}}
        {{> post-with-video--small}}
        {{> post-with-quote--small}}
        {{> post-without-featured-image--small}}
      </div>
      <div class="col-xs-12  col-md-4">
        {{> post-with-video--small}}
        {{> post-with-quote--small}}
        {{> post-with-featured-image--small}}
        {{> post-without-featured-image--small}}
        {{> post-sticky--small}}
      </div>
      <div class="col-xs-12  col-md-4">
        {{> post-without-featured-image--small}}
        {{> post-with-featured-image--small}}
        {{> post-with-video--small}}
        {{> post-sticky--small}}
        {{> post-with-quote--small}}
      </div>
    </div>
  </div>
</div>
{{> footer}}
{{> foot}}