{{> head}}
{{> header}}
<div class="container">
  <div class="row">
    <div class="col-xs-8  col-xs-offset-2">
      {{> post-with-featured-image}}
      {{> post-with-video}}
      {{> post-without-featured-image}}
    </div>
  </div>
</div>
{{> footer}}
{{> foot}}