<!-- Post without featured image -->
<div class="boxed  push-down-30">
  <!-- Start of the blogpost -->
  <div class="row">
    <div class="col-xs-10  col-xs-offset-1">
      <!-- Start of the content -->
      <div class="post-content--front-page">
        <h2><a href="single-post.html">Post for search results</a></h2>
        <h3 class="search-subtitle">She had a last view back on the skyline of her hometown Bookmarksgrove. (H3)</h3>
      </div>
      <!-- End of the content -->
      {{> read-more}}
    </div>
  </div>
</div>