<div class="slider">
  <div id="carousel-example-generic" class="carousel  slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item  active">
        <img src="images/420-slider/slider-image-2.jpg" alt="Slider">
        <div class="carousel-caption">

          <div class="slider__container">
            <h3 class="slider__subtitle">We are not just bloggers</h3>
            <h1 class="slider__title">We will change the world</h1>
            <a href="http://themeforest.net/item/readable-blog-template-focused-on-readability/7499064?ref=ProteusThemes" class="btn  btn-primary">Buy Theme</a> &nbsp; &nbsp;
            <a href="features.html" class="btn  btn-transparent">Read More</a>
          </div>

        </div>
      </div>
      <div class="item">
        <img src="images/420-slider/slider-image-1.jpg" alt="Slider">
        <div class="carousel-caption">

          <div class="slider__container">
            <h3 class="slider__subtitle">We are not just bloggers</h3>
            <h1 class="slider__title">We will change the world</h1>
            <a href="http://themeforest.net/item/readable-blog-template-focused-on-readability/7499064?ref=ProteusThemes" class="btn  btn-primary">Buy Theme</a> &nbsp; &nbsp;
            <a href="features.html" class="btn  btn-transparent">Read More</a>
          </div>

        </div>
      </div>
      <div class="item">
        <img src="images/420-slider/slider-image-3.jpg" alt="Slider">
        <div class="carousel-caption">

          <div class="slider__container">
            <h3 class="slider__subtitle">We are not just bloggers</h3>
            <h1 class="slider__title">We will change the world</h1>
            <a href="http://themeforest.net/item/readable-blog-template-focused-on-readability/7499064?ref=ProteusThemes" class="btn  btn-primary">Buy Theme</a> &nbsp; &nbsp;
            <a href="features.html" class="btn  btn-transparent">Read More</a>
          </div>

        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left  carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon  glyphicon-chevron-left"></span>
    </a>
    <a class="right  carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon  glyphicon-chevron-right"></span>
    </a>
  </div>
</div>