<div class="widget-banner  push-down-30">
  <h6>Banner</h6>
  <a href="http://themeforest.net/user/ProteusThemes/portfolio?ref=ProteusThemes"><img src="images/dummy/ads-300x250.jpg" alt="Banner ads" width="300" height="250"></a>
</div>