<div class="social-icons  widget-social-icons  push-down-30">
  <h6>Social Icons</h6>
  <a href="#" class="social-icons__container"><span class="zocial-facebook"></span></a>
  <a href="#" class="social-icons__container"><span class="zocial-twitter"></span></a>
  <a href="#" class="social-icons__container"><span class="zocial-skype"></span></a>
  <a href="#" class="social-icons__container"><span class="zocial-youtube"></span></a>
  <a href="#" class="social-icons__container"><span class="zocial-reddit"></span></a>
  <a href="#" class="social-icons__container"><span class="zocial-wordpress"></span></a>
  <a href="#" class="social-icons__container"><span class="zocial-bitbucket"></span></a>
  <a href="#" class="social-icons__container"><span class="zocial-github"></span></a>
  <a href="#" class="social-icons__container"><span class="zocial-html5"></span></a>
  <a href="#" class="social-icons__container"><span class="zocial-meetup"></span></a>
</div>