<!-- Widget categories -->
<div class="widget-categories  push-down-30">
  <h6>Categories</h6>
  <ul>
    <li><a href="#">Technology &nbsp;<span class="widget-categories__text">(16)</span></a></li>
    <li><a href="#">User Interface design &nbsp;<span class="widget-categories__text">(13)</span></a></li>
    <li><a href="#">User Experience &nbsp;<span class="widget-categories__text">(9)</span></a></li>
    <li><a href="#">Startups &nbsp;<span class="widget-categories__text">(23)</span></a></li>
    <li><a href="#">Reading &amp; Books &nbsp;<span class="widget-categories__text">(3)</span></a></li>
  </ul>
</div>